

.navbar {
    display: flex;
    justify-content: center;
    background-color: #120A8F;
    margin: auto;
    width: 100%;
  }
  
  .navbar-container {
    width: 100%;
    max-width: 800px; /* Defina um valor máximo de largura conforme necessário */
  }
  
  .navbar-items {
    display: flex;
    justify-content: space-around;
    align-items:center;
    list-style-type: none;
    padding: 0;
    
  }
  
  .navbar-item {
    margin-right: 10px; 
  }
  
  .navbar-link {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold; 
  }

  .navbar-link:hover{
    color: rgb(14, 138, 255);
  }

  .logo{
    max-width: 100px;
    height: auto;
  }

  .logo:hover{
    opacity: 85%;
  }